<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.5" />
  </system.web>


  <connectionStrings>
    <!--<add name="DBweb" connectionString="Data Source=.;Initial Catalog=FYPDB;Integrated Security=True"></add> -->
  <add name="DBweb" connectionString="Server=192.169.82.106;Database=FYPDB;Uid=FYPDB;Password=Shahzeb@1"></add>
    
  </connectionStrings> 
  
  
</configuration>